*, *::after, *::before {
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  
}

.track-info {
  font-size: 24px;
  font-weight: bold;
  color: #606060;
}