*, *::after, *::before {
	outline: none;
}

body {
	margin: 0 auto;
	font-size: 20px;
	background-image: linear-gradient(to right, gray, silver);
}

.music-site {
	text-align: center;
}

.title {
	display: flex;
	text-align: left;
	background-image: linear-gradient(to right, lightblue, lightgreen);
}