*, *::after, *::before {
	outline: none;
}

body {
	margin: 0 auto;
	font-size: 20px;
	background-image: linear-gradient(to right, gray, silver);
}

.main {
	text-align: center;
}

.title {
	display: flex;
	text-align: left;
	background-image: linear-gradient(to right, lightblue, lightgreen);
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.player-wrapper {
    position: relative;
    padding: 10px;
    margin: 10px;
    background-color: lightslategray;
}

.player {
    object-fit: cover;
    padding: 0;
    margin: 0;
    
}

.footer {
    text-decoration: none;
}

/*.column {
    flex: 50%;
    padding: 5px;
}*/